@use "sass:math";
@import "mixins";
@import "fonts";
//==========================================================================================
$fontFamily: 'Open Sans', sans-serif;
$fontSize: 16px;
$fontSizeSmall: 14px;

//<VARIABLES>==========================================================================================================
$minWidth: 320px;
$maxWidth: 1420;
$maxWidthContainer: 1170;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$mainColor: #000;
$whiteColor: #fff;
$orangeColor: #F3976C;
$contrastColor: #024478;
$contrastColor2: #0C2740;
$orangeHoverColor: #f45702;
$greyColor: #40778aa2;
$greyDarkColor: rgb(67, 67, 67);
$greyLightColor: #f7f1f1;
$blueColor: #39b2ea7d;
//===============================================================================================
@import "null";
body {
	color: $mainColor;
	&._lock {
		overflow: hidden;
	}
}
//===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
//===========================================================================================================
._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	@media (max-width: $md1 + px) {
		max-width: 970px;
	}
	@media (max-width: $md2+px) {
		max-width: 750px;
	}
	@media (max-width: $md3+px) {
		max-width: none;
		padding: 0 10px;
	}
}

//====================================================================================================
@import "forms";
@import "ui";
@import "lightgallery";
@import "header";
@import "footer";
@import "home";
//====================================================================================================
.page {
	flex: 1 1 auto;
}
._bcg-style {
	margin: 20px 0;
	padding: 12px;
	border-radius: 12px;
}
.slider {
	margin: 0 0 50px 0;
}
//===================================================================================================================================
//</PRESENTATION>====================================================================================================
.presentation {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 420px;
	@media (max-width: $md3 + px) {
		height: 300px;
	}
	&__parallax {
		background-image: url("../img/agence-la-panthere.webp");
	}
	&__logo	{
		width: 100px;
		height: 100px;
	}
	&__title {
		@include adaptiv-value("font-size", 36, 26, 1);
		font-weight: bold;
		color: $orangeColor;
		background-color: $greyColor;
		text-shadow: 2px 2px 2px rgba(0, 0, 1, 0.844);
		text-align: center;
	}
}
//</SERVICES>====================================================================================================
.services {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	gap: 20px;
	padding: 20px 2px;
	min-height: 620px;
	max-width: 900px;
	&__description {
		text-align: center;
		line-height: 150%;
		color: $greyDarkColor;
		@include adaptiv-value("font-size", 26, 20, 1);
		background-color: $blueColor;
	}
	&__box {
		display: grid;
		grid-template-rows: 1fr;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 20px;
		@media (max-width: $md3 + px) {
			grid-template-columns: 1fr;
			grid-template-rows: 1fr 1fr 1fr;
		}
		&__item {
			display: grid;
			grid-template-rows: 1fr 0.5fr 1fr;
			grid-template-columns: 1fr;
			justify-items: center;
			align-items: center;	
			background-color: $greyLightColor;
			border-radius: 20px;
			padding: 12px;
			&:hover {
				background-color: $orangeColor;
			}
			&-img {
				height: 70px;
				width: 100%;
				grid-row: 1;
				grid-column: 1;
			}
			&-img0 {
				height: 37px;
				width: 100%;
				justify-self: center;
				align-self: center;
				margin-bottom: 20px;
				grid-row: 1;
				grid-column: 1;
			}
			&-img1 {
				height: 23px;
				width: 100%;
				align-self: center;
				justify-self: center;
				margin-top: 20px;
				margin-left: 20px;
				grid-row: 1;
				grid-column: 1;
			}
			&-img2 {
				height: 23px;
				width: 100%;
				justify-self: center;
				align-self: center;
				margin-left: -35px;				
				margin-top: 20px;
				grid-row: 1;
				grid-column: 1;
			}
			&-title {
				grid-row: 2;
				grid-column: 1;
				font-weight: bold;
				align-self: start;
			}
			&-text {
				grid-row: 3;
				grid-column: 1;
				text-align: center;
				align-self: stretch;
			}
		}
	}
	&__quote {
		text-align: center;
		@include adaptiv-value("font-size", 26, 18, 1);
	}
}
._item1 {
	grid-row: 1;
	grid-column: 1;
}
._item2 {
	grid-row: 1;
	grid-column: 2;
	@media (max-width: $md3 + px) {
		grid-row: 2;
		grid-column: 1;
	}
}
._item3 {
	grid-row: 1;
	grid-column: 3;
	@media (max-width: $md3 + px) {
		grid-row: 3;
		grid-column: 1;
	}
}
//<WHAT>====================================================================================================
.what {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 500px;
	&__parallax {
		background-image: url("../img/image-de-presentation.webp");
	}
	.what__box {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		max-width: 80%;
		height: 80%;
		background-image: url("../img/texture-paper.webp");
		background-size: 280px 280px;
		background-color: rgba(255, 166, 0, 0.448);
		color: rgb(16, 0, 16);
		border-radius: 12px;
		text-align: center;
		@include adaptiv-value("font-size", 26, 18, 1);
		row-gap: 20px;
		@media (max-width: $md3 + px) {
			max-width: 100%;
		}
		&-title {
			background-color: $blueColor;
			flex: 1 1 auto;
			align-items: center;
			display: flex;
			text-transform: uppercase;
			font-weight: 600;
			padding: 20px 40px;
			border-radius: 12px 12px 0 0;
		}
		&-text {
			padding: 0 20px;
			line-height: 120%;
		}
		&-link {
			color: $whiteColor;
			text-decoration: underline;
			@include adaptiv-value("padding-bottom", 30, 16, 1);
			font-weight: 600;
			&:hover {
				transform: scale(1.1);
			}
		}
	}	
}
//<PORTFOLIO>====================================================================================================
.portfolio {
	text-align: center;
	background-image: url("../img/lines-h2-bg.png");
	padding: 20px 0;
	display: flex;
	flex-direction: column;
	row-gap: 30px;
	&__title {
		@include adaptiv-value("font-size", 30, 20, 1);
	}
}
.gallery-block {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	&__item {
		position: relative;
		display: block;
		text-align: center;
		&:hover {
			&::before {
				content: "+";
				display: block;
				font-size: 48px;
				width: 50px;
				height: 50px;
				border-radius: 50%;
				background: rgba(0, 0, 0, .6);
				color: #FFF;
				font-weight: 100;
				z-index: 1;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				-webkit-transform: translate(-50%, -50%);
			}
			img {
				opacity: 0.6;
			}
		}		
	}
	&__box {
		flex: 0 1 40%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 20px;
		margin: 20px 40px;
		max-width: 370px;
		@media (max-width: $md3 + px) {
			flex: 0 1 100%;
			margin: 20px -20px;
		}
		&-img {
			width: 270px;
			height: 100%;
			object-fit: cover;
			@media (max-width: $md3 + px) {
				width: 100%;
			}
		}
		&-title {
			text-transform: uppercase;
			font-weight: 600;
		}
		&-text {
			line-height: 150%;
		}
	}
}

//<CTA>====================================================================================================
.cta {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	row-gap: 20px;
	padding: 40px 0;
	background-image: url("../img/texture-paper.webp");
	background-size: 280px 280px;
}
