._parallax {
	width: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
blockquote {	
	font-style: italic;
	font-weight: 300;
	line-height: 150%;
	padding: 40px 0 20px 0;
}
figcaption {
	@include adaptiv-value("font-size", 20, 16, 1);
	font-style: italic;
	font-weight: 300;
	margin-top: 12px;
}
._scr-item {
	transform: translate(0, 40px);
	opacity: 0;
	transition: all 0.3s ease 0s;
	&._active {
		transform: translate(0, 0);
		opacity: 1;
	}
}
._color {
	color: $contrastColor;
}
//====================================================================================================
//====================================================================================================
%graystyle {
	transition: all 0.3s ease 0s;
	filter: grayscale(1);
	-webkit-filter: grayscale(1);
	-moz-filter: grayscale(1);
	-o-filter: grayscale(1);
}
%graystyleoff {
	filter: grayscale(0);
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	-o-filter: grayscale(0);
}
